@model IEnumerable<WebApplication1.Checkout>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Startdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Enddate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Startdate)
            </td>
            <td>
                @item.Enddate)
            </td>
            <td>
                @item.Asset.Assetid)
            </td>
            <td>
                @item.Contact.Customerid)
            </td>
            <td>
                @item.Location.AddressId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Checkoutid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Checkoutid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Checkoutid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
